.bg-dark {
	background: #1f5338 !important;
}

body {
	padding-top: 0 !important;
}

#content .col-outer {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
